.card-show-vehicle {
  margin: 0px 180px 40px 250px;
  background-size: cover;
  position: relative;
  height: 400px;
  width: 400px;
  border-radius: 7px;
  border: 4px black solid;
  display: flex;
  text-align: center;

}
.card-show-vehicle .card-info p {
   margin-right: 15px;
   color: white;
   position: absolute;
   top: 9px;
   right: 45px;
   font-size: 21px;
}
.show-rating1 {
  display: flex;
  color: white;
  font-size: 25px;
  position: absolute;
  top: 5px;
  left: 10px;
  .rating1 {
    color: yellow;

  }
}



.vehicule-show-name {
  color: white;
  position: absolute;
  left: 15px;
  bottom: 35px;
  font-size: 30px;
}

.bloc-vehicles {
  display: flex;
  text-align: space-beetwen;
}
.bloc-vehicle1 {
  border-right: 1px solid;
  margin: 5px 5px

}
.bloc-vehicle2 {
  margin: 5px 15px;
}
.user-show-review {
  margin: 15px 100px;
  background-size: cover;
  height: 40px;
  width: 40px;
}
.show-rating2 {
  position: relative;
  display: flex;
  align-text: center;
  .fa-star {
  color: yellow;
  }
  .rating2 {
    position: absolute;
    bottom: -32px;
  }
}
.review-description {
  margin-top: 40px;
}
.review-description h2 {
  margin-top: 80px;
}

.show-button-modal {

}
