<h1>My reservations</h1>

<% @rentals.each do |rental| %>
  <%= image_tag rental.vehicle.user.profile_picture, alt: "PP", style: "width: 40px;border-radius: 20px;" %>
  <%= rental.vehicle.name %>
  <%= rental.message %>
  <% if rental.status == 'accepted' && rental.end_date < Date.today %>
    <%= link_to 'Add a review', rental_path(rental) %>
  <% elsif rental.status == 'accepted' %>
    Accepted
  <% elsif rental.status == 'declined' || rental.end_date < Date.today %>
    Declined
  <% else %>
    Pending
  <% end %>
  <br>
<% end %>
