.banner {
  background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), image_url("wheelbarrow-banner.jpg");
  background-size: cover;
  background-position: center;
  padding-top: 180px;
  height: 100vh;
  margin-top: -73px;
  position: relative;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.btn-container {
  padding-top: 42px;
}

.chevron {
  font-size: 55px;
}

.bottom-div {
  position: absolute;
  width: 100%;
  bottom: 5px;
}

.smooth {
  scroll-behavior: smooth;
}

#top-8 {
  padding-top: 80px;
}
