.navbar-lewagon {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background:white;
  padding: 16px 24px;
  font-size: 16px;
  border-bottom: 1px rgb(230, 230, 230) solid;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  z-index: 100;
}

.navbar-lewagon .brand {
  width: 40px;
}

.navbar-lewagon .navbar-lewagon-actions {
  display: flex;
  align-items: center;
}

.navbar-lewagon .navbar-lewagon-actions .navbar-lewagon-link {
  margin-left: 24px;
  color: #151515;
}
.navbar-lewagon .navbar-lewagon-actions .navbar-lewagon-link:hover {
  color: #151515;
  text-decoration: none;
}


.navbar-lewagon .navbar-lewagon-actions .avatar {
  margin-left: 24px;
}

.navbar-lewagon .dropdown-toggle {
  cursor: pointer;
}
