<h3><%= link_to vehicle.name, vehicle_path(vehicle) %></h3>
<p><%= "#{vehicle.price} €" %></p>
<p><%= vehicle.location %></p>
<div class="map-card-vehicle" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://sf1.viepratique.fr/wp-content/uploads/sites/9/2017/09/fiat-500-750x410.jpg)">
</div>

